@import "font-awesome"; 
$fa-enable-utilities: false;
$font-stack:    	Arial, sans-serif;
$slide-out-width: 	250px;
/*$primary-color: #333;*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition-duration($duration){
	-webkit-transition-duration: $duration;
       -moz-transition-duration: $duration;
	     -o-transition-duration: $duration;
	        transition-duration: $duration;
}
h1, h2, h3
{ 
	text-align: center; 
}
body
{ 
	margin-left: auto; 
	margin-right: auto; 
	font-family: $font-stack; 
}
#main
{ 
	margin-left: auto; 
	margin-right: auto; 
}
img
{ 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	padding-bottom: 15px;
}
.pagination 
{ 
	text-align: center; 
}
.contact
{ 
	text-decoration: none; 
	color: black; 
}
.navigation-arrows
{ 
	text-decoration: none; 
	color: black; 
	font-size: 60px; 
	padding-right: 50px; 
}
.navigation-arrows-faded
{
	@extend .navigation-arrows;
	color: grey; 
}
.archive
{ 
	display:block; 
	text-align:center; 
}
.archive a
{ 
	text-decoration: none; 
	color: black; 
}
.archive a:hover
{ 
	text-decoration: underline; 
}
.font-awesome-link
{
	text-decoration: none; 
	color: black;
}
footer > a
{
	float:right;
	padding:15px;	
	font-size: 30px; 
}