---
title: Is htis real?
---
<% comic = locals[:comic] %>

<%date = Date.parse comic.date%>
<h1><%= comic.title %>  <span> - <%=date.strftime('%b %e, %Y') %></span></h1>

<img src="/images/<%=comic.image%>" alt="FeelingIt" />

<!-- example output: -->

<!-- {"title"=>"Feeling It", 
	"image"=>"feeling-it_manvsmagic.png", 
	"date"=>"2014-02-13 22:54 MDT", 
	"number"=>1} -->
