---
title: The Good Old Days
date: 2014-08-13 07:18 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/the-good-old-days_manvsmagic.png" alt="The Good Old Days" />
