---
title: Agree To These Terms
date: 2014-08-20 08:33 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/agree-to-these-terms_manvsmagic.png" alt="Agree To These Terms" />

