---
title: Feeling It
date: 2014-02-13 22:54 MDT
tags: comic
img: http://www.manvsmagic.com/images/feeling-it_manvsmagic.png
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/feeling-it_manvsmagic.png" alt="FeelingIt" />