---
title: Missing In Action
date: 2014-05-26 07:51 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/missing-in-action_manvsmagic.png" alt="M.I.A." />