---
title: Time To Grow Up
date: 2014-07-21 06:34 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/time-to-grow-up_manvsmagic.png" alt="Time To Grow Up" />
