---
title: Wet Willy
date: 2014-05-11 20:52 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/wet-willy_manvsmagic.png" alt="Wet Willy" />