---
title: Trying To Explain Gang Signs For The First Time
date: 2014-06-23 06:22 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/trying-to-explain-gang-signs-for-the-first-time_manvsmagic.png" alt="Trying To Explain Gang Signs For The First Time" />