---
title: Topical Stuff
date: 2014-05-21 07:55 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/topical-stuff_manvsmagic.png" alt="Netflicks" />
