---
title: Employee of the Month
date: 2014-07-30 06:30 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/employee-of-the-month_manvsmagic.png" alt="Employee of the Month" />
