---
title: Nostalgia
date: 2014-04-07 07:38 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/nostalgia_manvsmagic.png" alt="Nostalgia" />
