---
title: You're Not On Safari
date: 2014-08-18 01:40 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/youre-in-the-locker-room-not-on-safari_manvsmagic.png" alt="You're Not On Safari" />
