---
title: A Chance To Make Things Right
date: 2014-07-16 06:38 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/a-chance-to-make-things-right_manvsagic.png" alt="A Chance To Make Things Right" />
