---
title: Consider A Career In Starfleet
date: 2014-07-09 05:42 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/consider-a-career-in-starfleet_manvsmagic.png" alt="Starfleet" />
