---
title: Learned It On The Playground
date: 2014-02-20 00:23 MST
tags: school, pee, butt
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/learned-it-on-the-playground_manvsmagic.png" alt="School" />
