---
title: Getting Old Sucks
date: 2014-02-15 07:24 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/getting-old-sucks_manvsmagic.png" alt="Getting Old Sucks" />
