---
title: Verification
date: 2014-02-21 03:52 MDT
tags:
---
<h1><%=current_page.data.title %> - <%=DateTime.parse(current_page.data.date).strftime('%A %b %e, %Y') %></h1>
<img src="/images/verification_manvsmagic.png" alt="verification" />


