<% comis = locals[:comic] %>

<div class="pagination"> 

<% if comic.firstComic != true %> 
	<%= link_to 'first', '/1', html_options = {:class=>"navigation-arrows"} %> 
	<%= link_to '', "/#{comic.number - 1}", html_options = {:class=>"fa fa-arrow-left navigation-arrows"} %> 
<% else %>
	<span class="navigation-arrows-faded">first</span>
	<span class="fa fa-arrow-left navigation-arrows-faded"></span>
	
<%end%>

<% if comic.lastComic != true %> 
	<%= link_to '', "/#{comic.number + 1}", html_options = {:class=>"fa fa-arrow-right navigation-arrows"} %> 
	<%= link_to 'last', "/", html_options = {:class=>" navigation-arrows"} %>
<% else %>
	<span class="fa fa-arrow-right navigation-arrows-faded"></span>
	<span class="navigation-arrows-faded">last</span>
<%end%>

</div>