<% comis = locals[:comic] %>
<div class="pagination"> 
<%= link_to 'first', '/1', html_options = {:class=>"navigation-arrows"} %> 
<% if comic.firstComic != true %> 
	<%= link_to '', "/#{comic.number - 1}", html_options = {:class=>"fa fa-arrow-left navigation-arrows"} %> 
<% else %>
	<span class="fa fa-arrow-left navigation-arrows-faded"></span>
<%end%>
<% if comic.lastComic != true %> 
	<%= link_to '', "/#{comic.number + 1}", html_options = {:class=>"fa fa-arrow-right navigation-arrows"} %> 
<% else %>
	<span class="fa fa-arrow-right navigation-arrows-faded"></span>
<%end%>
<%= link_to 'last', "/", html_options = {:class=>" navigation-arrows"} %>
</div>