<% comis = locals[:comic] %>
<div class="pagination"> 
<%= link_to 'first', '/1', html_options = {:class=>"navigation-arrows"} %> 
<% if comic.firstComic != true %> 
	<%= link_to 'previous', "/#{comic.number - 1}", html_options = {:class=>" navigation-arrows"} %> 
<% else %>
	<span class=" navigation-arrows-faded">previous</span>
<%end%>
<% if comic.lastComic != true %> 
	<%= link_to 'next', "/#{comic.number + 1}", html_options = {:class=>" navigation-arrows"} %> 
<% else %>
	<span class=" navigation-arrows-faded">next</span>
<%end%>
<%= link_to 'last', "/", html_options = {:class=>" navigation-arrows"} %>
</div>