<h1>Archive</h1> 
<% blog.articles.each do |article| %> 
<article> 
<h4 class="post-title">
<%= link_to article.title, article %>
</h4> 
<small> &bull; <%= article.date.strftime('%b %e, %Y') %></small> 
</article> 
<% end %>